@model IEnumerable<PrtialViewDemo.Models.Product>
@{
	ViewData["Title"] = "Index"
}

<h1>Product List</h1>

<div class="container">
	@Html.Partial("_ProductList.cshtml",Model);
</div>

<div class="container">
     @{
		Htm.RenderPartial("_ProductList.cshtml", Model);
	}
</div>